@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,200;0,400;0,700;1,400&family=Poppins:wght@400;500;700&family=Stoke&display=swap');



:root {
  --font-family: 'DynaPuff', cursive;
  --font-family_text: 'Josefin Sans', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

  --color-bg: rgb(255, 254, 251);
  --color-footer: #03071E;
  --color-detail: #DC2F02;
  --color-text: #dd8181;
  --color-subtext: #370617;
  --color-red: #D00000;
  --color: black;
  --color2: #EAE2B7;
  --radius: .35rem;
  --border-width: 2px;
  --offset: .5rem;
  --transition: .3s;
  --theme-col: #E85D04;
}